.user-component__column__text__text .fa-lightbulb {
  color: tomato;
  padding-left: 10px;
}
.user-component__column__icon {
  position: absolute;
  right: 30px;
}
.more__iconfa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  width: 550px;
  height: 200px;
}

.more__icon {
  display: flex;
  flex-direction: column;
}
.more__icon i {
  padding-bottom: 13px;
  align-items: center;
  padding-right: 15px;
}
.more__icono {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
}
.more__icono i {
  padding-bottom: 13px;
  align-items: center;
}
.more__icon__text {
  font-size: 24px;
}

.more__sugg__title {
  font-size: 20px;
  padding: 40px;
  width: 500px;
  height: 100px;
}

.more__suggconbox__img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.more__suggcon {
  display: flex;
}
.more__suggconbox {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
}
.more__suggconbox__text {
  font-size: 20px;
  margin-left: 10px;
}
.more__icon .fa-box,
.more__icon .fa-smile-beam {
  margin-left: 20px;
}
